body{
    background-color: lightgray;
}
p{
    color: green;
}
.texto{
    color: purple;
}

.box {
    border: 5px solid red;
    background-color: lightgreen;
    padding: 20px;
    margin-left: 40px;
}