<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <h1>{{titulo}}</h1>
    <div class="contenedor">
        <form action="/procesa" method="POST">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" placeholder="Tu nombre" required>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <label for="mensaje">Mensaje:</label>
        <textarea name="mensaje" id="mensaje" placeholder="Escribe tu comentario"></textarea>
        <div class="checkbox-container">
            <input type="checkbox" name="terminos" id="terminos">
            <label for="terminos">Acepto los terminos y condiciones</label>
        </div>
        <button type="submit">Enviar</button>
        </form>
    </div>
    
</body>
</html>