{{#each libros}}
<h1>{{this.titulo}}</h1>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.titulo}}</h5>
    <p class="card-text">
        {{this.autor}}
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{{/each}}