li{
    padding: 10px;
    font-size: 16px;
    background-color: #e0e0e8;
}

li:first-child{
    background-color: aquamarine;
    color: blue;
}

li:first-child:hover{
    background-color: chocolate;
    color: black;
}

li:last-child:hover{
    background-color: green;
    color: blueviolet;
}

li:nth-child(even){
    background-color: rgb(168, 30, 210);
    color: rgb(0, 0, 0);
}